<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Billing name:</strong>
  <%= @user.billing_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Primary phone number:</strong>
  <%= @user.primary_phone_number %>
</p>

<p>
  <strong>Secondary phone number:</strong>
  <%= @user.secondary_phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @user.emergency_contact_name %>
</p>

<p>
  <strong>Emergency phone number:</strong>
  <%= @user.emergency_phone_number %>
</p>

<p>
  <strong>Signup date:</strong>
  <%= @user.signup_date %>
</p>

<p>
  <strong>Professor?:</strong>
  <%= @user.professor? %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
